*~
*.[oa]
*.o.cmd
*.ko
*.mod.[co]
*modules.order
*.bin
*.run
*.swp
util/mw_setaddrs.sh    
mw_setaddrs.sh    
*.so
cscope.out
tags
GPATH
GRTAGS
GSYMS
GTAGS
TAGS
*OLD
*BAK
*.pdf
*.doc
*.docx
*.pptx
*.log
# Primary makefiles and contentious header filesare templated and 
# copied into location by util/mw_prep
Makefile
makefile
common_config.h
.idea
